mixin colors(array)
    .colors__list
        each item in array
            if item.opacity==undefined
                .colors__item 
                    .color(style=`background-color:${item.color};opacity:1`) 
                        .color-text
                            .color-name=item.name
                            .color-subtext=item.color
            else 
                 .colors__item 
                    .color(style=`background-color:${item.color};opacity:${item.opacity}`) 
                    .color-text
                        .color-name=item.name
                        .color-subtext=item.color
body 
    +colors([
            {color:'#1F2041', opacity:1, name:'Dark Shade 100%'},
            {color:'#1F2041', opacity:0.75, name:'Dark Shade 75%'},
            {color:'#1F2041', opacity:0.5, name:'Dark Shade 50%'},
            {color:'#1F2041', opacity:0.25, name:'Dark Shade 25%'},
            {color:'#1F2041', opacity:0.05,name:'Dark Shade 5%'},
            {color:'BC9CFF', name:'Purple'},
            {color:'#6FCF97', opacity:1, name:'Green'}
            ])
    .text