mixin like_btn(countLike=12,activeLikeIcon='favorite',inactiveLikeIcon='favorite_border',styleActiveLikeIcon='',styleInactiveLikeIcon='')
     button.like-btn
        .like-btn__icons
            span.material-icons.like-btn__icon.__icon-active(style=styleActiveLikeIcon)=activeLikeIcon
            span.material-icons.like-btn__icon.__icon-inactive(style=styleInactiveLikeIcon)=inactiveLikeIcon
        span.like-btn__count=countLike

mixin like_btn_active(countLike=12,activeLikeIcon='favorite',inactiveLikeIcon='favorite_border',styleActiveLikeIcon='',styleInactiveLikeIcon='')
     button.like-btn.__btn-active
        .like-btn__icons
            span.material-icons.like-btn__icon.__icon-active(style=styleActiveLikeIcon)=activeLikeIcon
            span.material-icons.like-btn__icon.__icon-inactive(style=styleInactiveLikeIcon)=inactiveLikeIcon
        span.like-btn__count=countLike