
mixin radio-btn(array=['Мужчина','Женщина'],id,styleInput='linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%)',styleBorder='#BC9CFF')
    .radio-btn__list(id=id)
        each item in array
            label(for="" data-type='btn').radio-btn__label
                input(type="radio", value=item, data-type='input').radio-btn__item-hidden 
                .radio-btn__item-visible
                    span(style=`background:${styleInput}`).circle
                    span.border(style=`border-color::${styleBorder}`)
                .radio-btn__item-text=item

