mixin datepicker
    .datepicker
        .datepicker__backdrop(data-type='backdrop')
        block
        
mixin datepickerInput(placeholder='ДД.ММ.ГГГГ',label='Прибытие')
    .datepicker__item
            h3=label
            .datepicker__item__wrapper
                .datepicker__item__input(data-type='input-start-date')
                    .datepicker__item__placeholder=placeholder
                    span.material-icons expand_more

mixin datepickerDropDown(color) 
    .datepicker__item__dropdown
            .datepicker__item__dropdown__inner
                .content__top
                    button.arrow.prev-month(type='button')
                        span#arrow-prev-month.material-icons(data-type='btn-prev-month', style=color)  arrow_forward 
                    .month-and-year Ноябрь 2021
                    button.arrow.next-month(type='button')
                        span#arrow-next-month.material-icons(data-type='btn-next-month', style=color)  arrow_forward 
                .content__center
                    .days-of-week(style=color)
                        -let array = ['ПН','ВТ','Ср','ЧТ','ПТ','СБ','ВС']
                            each item in array
                                .day-of-week=item
                    .days
                        .days__wrapper
                            .days__list
                                - for (let x = 1; x < 31; x++)
                                    .day=x
                                        span
                .content__footer
                    .drop__down__btn
                        button(type='button', data-type='cleandrop', style=color) очистить
                        button.active(type='button', data-type='backdrop', style=color) применить

link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
+datepicker
    +datepickerInput('ДД.ММ.ГГГГ','Прибытие')
    +datepickerInput('ДД.ММ.ГГГГ','Выезд')
    +datepickerDropDown