include ../like_btn/like_btn.pug
mixin review__list(header=undefined,array=[{img:"./img/image1.jpg", name:'Мурад Сарафанов', date:'5 дней назад', text:'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.'}])
    .review__list
        if header===undefined
        else
            h2=header 
        each item in array 
            .review__item     
                .review__content.__content-left 
                    .review__content__img(style=`background-image:url(${item.img})`)
                    .like
                        +like_btn(item.countLike)
                .review__content.__content-right
                    .review__content__name.text=item.name 
                    .review__content__date.text=item.date 
                    .review__content__text.text=item.text
