mixin subscriptionTextField(buttonImg='./img/arrow_forward_purple.svg',typeInput='email',nameInput='email',placeholderInput='Email',styleForInput='border-radius: 4px;')
    form.input__and__button
        input(type=typeInput, name=nameInput, placeholder=placeholderInput, style=styleForInput)
        button( style=`background-image:url(${buttonImg})`)