mixin subscriptionTextField(typeInput='email',nameInput='email',placeholderInput='Email',styleForInput=''.styleForButton='',styleSpan='')
    form.subscription-text-field(tabindex='0')
        input.subscription-text-field__input(type=typeInput, name=nameInput, placeholder=placeholderInput, style=styleForInput)
        button.subscription-text-field__btn(style=styleForButton aria-label='submit')
            span.material-icons(style=styleSpan) arrow_forward